<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamitey" version="1.0.2.0" targetFramework="net462" />
  <package id="FSharp.Core" version="4.2.2" targetFramework="net462" />
  <package id="FSharp.Interop.Dynamic" version="3.0.0.0" targetFramework="net462" />
  <package id="jQuery" version="1.6.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.SelfHost" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Diagnostics" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Hosting" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.SelfHost" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="System.Collections" version="4.0.11" targetFramework="net462" />
  <package id="System.Console" version="4.0.0" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net462" />
  <package id="System.Diagnostics.Tools" version="4.0.1" targetFramework="net462" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net462" />
  <package id="System.IO" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.0.1" targetFramework="net462" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net462" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net462" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net462" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.Numerics" version="4.0.1" targetFramework="net462" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="net462" />
  <package id="System.Threading" version="4.0.11" targetFramework="net462" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net462" />
  <package id="System.Threading.Tasks.Parallel" version="4.0.1" targetFramework="net462" />
  <package id="System.Threading.Thread" version="4.0.0" targetFramework="net462" />
  <package id="System.Threading.ThreadPool" version="4.0.10" targetFramework="net462" />
  <package id="System.Threading.Timer" version="4.0.1" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net462" />
</packages>